<h3> View FullStackEng Details</h3>
<div>
    <div>
        <label> <b> Associate Id: </b></label> {{fullstackeng.associateId}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{fullstackeng.name}}
    </div>
    <div>
        <label> <b> Mobile Number: </b></label> {{fullstackeng.mobileNumber}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{fullstackeng.email}}
    </div>
    <br>
    <div>
        <h5>Technical Skills</h5>
        <label> <b> HTML-CSS-JAVASCRIPT: </b></label> {{fullstackeng.hcj}}
    </div>
    <div>
        <label> <b> ANGULAR </b></label> {{fullstackeng.angular}}
    </div>
    <div>
        <label> <b> REACT </b></label> {{fullstackeng.react}}
    </div>
    <div>
        <label> <b> SPRING </b></label> {{fullstackeng.spring}}
    </div>
    <div>
        <label> <b> RESTFUL </b></label> {{fullstackeng.restful}}
    </div>
    <div>
        <label> <b> HIBERNATE </b></label> {{fullstackeng.hibernet}}
    </div>
    <div>
        <label> <b> GIT </b></label> {{fullstackeng.git}}
    </div>
    <div>
        <label> <b> DOCKER </b></label> {{fullstackeng.docker}}
    </div>
    <div>
        <label> <b> JENKINS </b></label> {{fullstackeng.jenkins}}
    </div>
    <div>
        <label> <b> AWS </b></label> {{fullstackeng.aws}}
    </div>
    <br>
    <div>
        <h5>Non-Technical Skills</h5>
        <label> <b> SPOKEN </b></label> {{fullstackeng.spoken}}
    </div>
    <div>
        <label> <b> COMMUNICATION </b></label> {{fullstackeng.communication}}
    </div>
    <div>
        <label> <b> APTITUDE </b></label> {{fullstackeng.aptitude}}
    </div>
</div>